html{
	color-scheme:dark;
}
body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #29282C;
}

/*
#container {
	width: 100%;
	margin: 0 auto;
	background: #29282C;
	min-width: 720px;
	max-width: 1280px;
	text-align: center;
}
*/
#marca {
	font-size: 54px;
	width: 0%;
	height: 100px;
	text-align: center;
	line-height: 100px;
	color: #FFFFFF;
}
/*
#conteudo{
margin: auto;
width: 35%;
background: white;
padding: 10px;
text-align: center;
color: blue;

}*/

.card{
	font-size: 25px;
	max-width: 50rem;
	border-radius: 20px;
	box-shadow: 0 0 3rem 1rem rgba(0,0,0,0.2);
	text-align: center;
	width: 90px;
	margin: 0 auto;
	min-width: 1000px;
	max-width: 1280px;
	padding-top: 12px;
	padding-bottom: 15px;
}

#item{
	size: 20px;
}

#item2{
	size: 20px;
}


.container {
    max-width: 400px;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 43px 17px rgba(153,153,153,1);
}

#display {
    text-align: right;
    height: 70px;
    line-height: 80px;
    padding: 13px 6px;
    font-size: 40px;
}

.buttons {
    display: grid;
    border-bottom: 1px solid #999;
    border-left: 1px solid#999;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.buttons > div {
    border-top: 1px solid #999;
    border-right: 1px solid#999;
}

.button {
    border: 0.5px solid #999;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

#equal {
    background-color: rgb(85, 85, 255);
    color: white;
}

.button:hover {
    background-color: #323330;
    color: white;
    transition: 0.5s ease-in-out;
}

.Built {
    font-size: 1rem;
    font-family: verdana, Helvetica, sans-serif;
    color: #CCD6F6;
    text-align: center;
    padding-top: 50px;
}
